**/.vs/
**/*.sdf
**/*.VC.opendb
**/Debug/
**/Generated\ Files/
**/Release/
**/ipch/
**/*.obj
/VisualC-WinRT/UWP_VS2015/instead/instead/instead.vcxproj.user
/VisualC-WinRT/UWP_VS2015/instead/instead.VC.db
